* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.username {
    font-size: 20px;
}

.name {
    font-size: 24px;
}

.count-like {
    font-size: 20px;
}

.btn-like {
    font-size: 22px;
    background: none;
    border: none;
    outline: none;
    color: rgb(54, 118, 255);
    cursor: pointer;
}